instance-id: iid-local02
local-hostname: {{ local_vm_hostname }}
{% set if_name = 'enp0s2' if ( cloud_image_distro == 'ubuntu') else 'eth0' -%}
network-interfaces: |
  auto {{ if_name }}
  iface {{ if_name }} inet static 
  address {{ local_vm_ipaddr }}
  network {{ kvm_subnet }}
  netmask {{ kvm_subnet_mask }}
  gateway {{ kvm_subnet_gateway }}
  dns-nameservers {{ kvm_subnet_dns_servers | join(' ') }}
